* {
  font-family: popins;
}
footer{
  background-color: #C9ECD5;
}

.carrot_dishes {
  margin: 100px;
  width: 400px;
  height: 400px;
  /*   add border top and right */
  border-top: 3px dashed #ccc;
  border-right: 3px dashed #ccc;
  /*  make borders circular  */
  border-radius: 50%;
  position: absolute;
  right: 30%;
  
}
.carrot_dishes img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px;
  width: 100px;
  height: 100px;
}
