* {
  font-family: Poppins;
  text-decoration: #EAAB1B, #6CB840;
}
footer{
  background-color: #C9ECD5;
}

.carrot_dishes {
  margin: 100px;
  width: 400px;
  height: 400px;
  /*   add border top and right */
  border-top: 3px dashed #ccc;
  border-right: 3px dashed #ccc;
  /*  make borders circular  */
  border-radius: 50%;
  position: absolute;
  right: 30%;
  
}
.carrot_dishes img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px;
  width: 100px;
  height: 100px;
}

.carrot_dishes img:first-child {
  transform: rotate(0deg) translateY(-200px);
}

.carrot_dishes img:nth-child(2) {
  transform: rotate(45deg) translateY(-200px);
}

.carrot_dishes img:nth-child(3) {
  transform: rotate(90deg) translateY(-200px);
}

.carrot_dishes img:nth-child(4) {
  transform: rotate(-45deg) translateY(-200px);
}

.carrot_dishes img:nth-child(5) {
  transform: rotate(-90deg) translateY(-200px);
}
.contact_us{
  background-color: #FFD77C;
  text-align: center;
  
}
.hot_deals{
background-color:  #C9ECB5;
text-align: center;
}

.hot{
  color: #000;
  
}
.deals{
  color: green;
}
.special{
  color: green;
}
.eat{
  color: #EAAB1B;
  float: left;
}
.send{
  color: #6CB840;
}
.explore{
  background-color: #C9ECD5;
  
}